<h1> SUBJECTS </h1><br/>

<div class="heading"><strong>Vinay:</strong></div>
<%=image_tag('vinay.jpg', :style=>"border: solid #000 2px;")%><br/><br/>
<p>Both dashing and charismatic, Vinay is a natural public speaker who has spent a decade working as the peoples leading expert on Thalassemia prevention. Forfeiting financial security along with the chance to have a family of his own, Vinay is a fast-talking activist and unapologetic atheist, who is determined to control the effects of Thalassemia in his country.</p>
<br/>
<div class="heading"><strong>Divya:</strong></div>
<%=image_tag('DIVYA_PROFILE_PIC.JPG', :style=>"border: solid #000 2px;")%><br/><br/>
<p>Although Divay is fifteen years old, because she has Thalassemia Major she is often mistaken for a child half her age. She lives in low income government housing with her family, and has been in and out of school. When Vinay meets her for the first time he learns that she has never received proper treatment or taken iron chelation. Divya lives life with a child-like curiosity for the world around her. She loves badminton and looking after her neighbors children.</p>
<br/>
<div class="heading"><strong>Imran:</strong></div>
<%=image_tag('IMRAN_PROFILE_PIC.JPG', :style=>"border: solid #000 2px;")%><br/><br/>
<p>Imran is 24 years old and has Thalassemia Major. While attending college he had to leave his studies to work full-time to pay for his iron chelation treatment. When Imran was just a child his father deserted the family, so in addition to covering all his medical expenses, Imran is also responsible for supporting his mother and sister. Imran works at a call center and speaks English fluently. And did we mention - he loves Eminem.</p>