<div class="footer" style="margin-top: 0px; text-align:center; display:inline;">
	<nav class="roundfoot" style="text-align:center; background-color:#3b3b3b; color:white;">
  	<ul>
			<li><strong><%= link_to "Contact", contact_path, :style => "color:white; font-size:30px" %></strong></li>
			<li style="font-size: 40%;"> copyright © 2011 </li>
    </ul>
	</nav>
<br/>

<span class="st_facebook_large" displayText="Facebook"></span>
<span class="st_twitter_large" displayText="Tweet"></span>
<span class="st_digg_large" displayText="Digg it"></span>
<span class="st_stumbleupon_large" displayText="Stumble"></span>
<span class="st_delicious_large" displayText="Delicious"></span>
<span class="st_reddit_large" displayText="Reddit"></span>
<span class="st_email_large" displayText="Email"></span>
<script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script><script type="text/javascript">stLight.options({publisher:'f9a5e28e-325c-4b48-9d7e-dc9896e802c7'});</script>
</div>
