

<span class="st_facebook_large" displayText="Facebook"></span>
<span class="st_twitter_large" displayText="Tweet"></span>
<span class="st_digg_large" displayText="Digg it"></span>
<span class="st_stumbleupon_large" displayText="Stumble"></span>
<span class="st_delicious_large" displayText="Delicious"></span>
<span class="st_reddit_large" displayText="Reddit"></span>
<span class="st_email_large" displayText="Email"></span>

<script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script><script type="text/javascript">stLight.options({publisher:'f9a5e28e-325c-4b48-9d7e-dc9896e802c7'});</script>

<hr/>

<div style="padding:2px;">
<script src="http://connect.facebook.net/en_US/all.js#xfbml=1"></script><fb:like-box href="http://www.facebook.com/pages/Blood-Relative/141551219225890" width="297" colorscheme="light" show_faces="false" stream="false" header="false"></fb:like-box>
</div>
<br/>

<script src="http://widgets.twimg.com/j/2/widget.js"></script>
<script>
new TWTR.Widget({
  version: 2,
  type: 'profile',
  rpp: 4,
  interval: 4000,
  width: 300,
  height: 400,
  theme: {
    shell: {
      background: '#ffffff',
      color: '#000000',

    },
    tweets: {
      background: '#ffffff',
      color: '#000000',
      links: '#000000'
    }
  },
  features: {
    scrollbar: false,
    loop: true,
    live: true,
    hashtags: true,
    timestamp: true,
    avatars: true,
    behavior: 'default'
  }
}).render().setUser('Blood_Relative').start();
</script><br/>
<div style="text-align:center;">
<%=link_to image_tag('think_foundation_logo.gif'), "http://www.thinkfoundation.org" %>
</div><br/>
